<div class="container">
  <h2 class="title">Programa nuevo correo</h2>
  <h2 class="subtitle">Selecciona la lista a la que deseas programar envíos</h2>
  <div class="form-group">
    <select class="form-control select-box" (change)="onOptionChange($event)" [(ngModel)]="selectedOption">
  <option *ngFor="let item of filteredList" [value]="item.name">{{ item.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control email-input" placeholder="Destinatarios"  [value]="getEmails()" [(ngModel)]="destinatarios">
  </div>
  
  <div class="form-group">
   <button class="btn btn-secondary" (click)="limpiarDestinatarios()"> 
    <mat-icon>delete forever</mat-icon>
    Limpiar</button>
  </div>
  
  
  <div class="form-group">
    <label for="frecuenciaEnvio">Frecuencia de Envío Notificaciones Push:</label>
    <select class="form-control" id="frecuenciaEnvio"  [value]="frecuenciaEnvio" [(ngModel)]="frecuenciaEnvio">
      <option value="diaria">Diaria</option>
      <option value="cada2dias">Cada 2 días</option>
      <option value="cada5dias">Cada 5 días</option>
      <option value="cada7dias">Cada 7 días</option>
      <option value="semanal">Una vez por semana</option>
      <option value="mensual">Mensualmente</option>
    </select>
  </div>

  <div class="form-group">
  <label for="fechaFinal">¿Hasta que dia desea enviar las notificaciones push?:</label>
  <input type="date" class="form-control" id="fechaFinal" [(ngModel)]="fechaFinal">
</div>

  <div class="form-group">
    <label for="canalEnvio">Canal de Envío:</label>
    <select class="form-control" id="canalEnvio"  [value]="canalEnvio" >
      <option value="email">Correo Electrónico</option>
      <option value="movil">Dispositivos Móviles</option>
    </select>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Asunto" [(ngModel)]="asunto">
  </div>
  
<!--   
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu
  [editor]="editor"
  [toolbar]="toolbar"
  [colorPresets]="colorPresets"
  >
</ngx-editor-menu>
    <ngx-editor [editor]="editor" [(ngModel)]="cuerpo" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    
  </div> -->

  <editor [(ngModel)]="cuerpo" apiKey="sq2forke21w67jwst8vzb9cf6to5ye6usr55zv852r3tb8kk"
  [init]="{
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    
  }"
></editor>

  
  
  <div class="form-group">
    <button (click)= "enviarCorreo()" (click)= "sendNotification()" class="btn btn-primary">
      <mat-icon>send</mat-icon> 
      Enviar</button>
  </div>
  <!-- <div class="form-group">
    <button (click)= "sendNotification()" (click)="limpiarTodo()" class="btn btn-primary">Enviar Notificacion</button>
  </div> -->
</div>

