<div>
  <div class="welcome-info">
    Bienvenido de nuevo {{profile?.givenName}} 
  </div>

<div class="container">
  <!-- Tus preferencias actuales -->
  <div class="preferences-section current-preferences">
    <h2>Tus preferencias actuales son : </h2>
    <div *ngFor="let item of data" class="preference-item">
      <ul>
        <li *ngFor="let preference of extractContent(item.preferencia)">{{ preference }}</li>
      </ul>
      <button class="save-button" (click)="guardarPreferencias()">
        <mat-icon>delete</mat-icon>
        <span *ngIf="guardandoPreferencias; else saveText"> <i class="fa fa-spinner fa-spin"></i> </span>
        <ng-template #saveText>Borrar mis preferencias actuales</ng-template>
        
      </button>
    </div>
  </div>

  <!-- Preferencias -->
  <div class="preferences-section">
    <h2>Busca nuevas preferencias de información</h2>
    
    <form class="form-preferences">
      <!-- Buscador -->
    <input type="text" class="search-input" placeholder="Buscar preferencias" (input)="filterPreferences($event.target.value)">
    
    <!-- Formulario -->
    

      <!-- Lista de preferencias con checkboxes -->
      <div class="checkbox-container">
        <div *ngFor="let item of filteredList; let i = index" class="checkbox-item">
          <input type="checkbox" id="opcion-{{ i }}" [value]="item.name" (change)="onCheckboxChange($event)">
          <label for="opcion-{{ i }}">{{ item.name }}</label>
        </div>
      </div>

      <!-- Botón de guardar preferencias -->
      <button class="save-button" (click)="guardarPreferencias()">
        <mat-icon>save</mat-icon>
        <span *ngIf="guardandoPreferencias; else saveText"> <i class="fa fa-spinner fa-spin"></i> </span>
        <ng-template #saveText>Guardar Preferencias</ng-template>
      </button>
    </form>
  </div>
</div>