

<!--<div *ngFor="let item of lista">
  <p>{{ item.name}} </p>
</div> -->

<h2>Preferencias</h2>
<form>
  <p><strong>Id: </strong> {{profile?.id}}</p>
  <p><strong>First Name: </strong> {{profile?.givenName}}</p>
  <p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
  <div *ngFor="let item of lista; let i = index">
    <input type="checkbox" id="opcion-{{i}}" [value]="item.id" (change)="onCheckboxChange($event)">
    <label for="opcion-{{i}}">{{ item.name }}</label>
  </div>
  
  <button (click)="guardarPreferencias()">Guardar Preferencias</button>
</form>