.welcome-info {
  background-color: rgb(140, 25, 25);
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc; /* Añadir borde */
  border-radius: 10px; /* Redondear bordes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadir relieve */
}

.preferences-section {
  margin-bottom: 30px;
}

.current-preferences {
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.form-preferences {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-item {
  flex: 0 0 50%; /* Muestra dos columnas de checkboxes */
  margin-bottom: 10px;
}

.save-button {
  background-color: rgb(140, 25, 25);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex; /* Alinea el texto e icono horizontalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.save-button mat-icon,
.save-button i.fa {
  margin-top: 5px;
  margin-right: 5px; /* Espacio entre el icono y el texto */
  font-size: 18px; /* Tamaño del icono */
}

.save-button:hover {
  background-color: rgb(140, 25, 25);
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}