
<div class="container" *ngIf="!loginDisplay">
	<div class="screen">
		<div class="screen__content">
			<button *ngIf="!loginDisplay" (click)="login()" class="button login__submit">Iniciar Sesión</button>
			<div class="social-login">
				<h3>Inicio de sesion  Distri-Noti</h3>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>


