<!--<div class="container">
  <div class="toolbar-spacer"></div>
  <div class="welcome-message">
    <p>Bienvenido a la Distri-Noti, por favor inicia sesión en tu cuenta de Microsoft para continuar</p>
  </div>
  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()" class="custom-button custom-button-purple">Login</button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()" class="custom-button custom-button-purple">Logout</button>
  <div class="content">
    Esto es para evitar recargar durante acquireTokenSilent() debido al iframe oculto
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div>
</div>
-->


<div class="container">
	<div class="screen">
		<div class="screen__content">
			<button *ngIf="!loginDisplay" (click)="login()" class="button login__submit">Login</button>
			<div class="social-login">
				<h3>Inicio de sesion  Distri-Noti</h3>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>